@{
    ViewData["Title"] = "Home Page";
}
<br />

<div class="row">
    <div class="col-sm-2">
        <h4>Policy-based: </h4>
    </div>
    <div class="col-sm-2 h4">
        @Html.ActionLink("Allow", "Allow", "Policy")
    </div>
    <div class="col-sm-2 h4">
        @Html.ActionLink("Deny", "Deny", "Policy")
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <h4>Resource-based: </h4>
    </div>
    <div class="col-sm-2 h4">
        @Html.ActionLink("ExampleV1", "ExampleV1", "Resource")
    </div>
    <div class="col-sm-2 h4">
        @Html.ActionLink("ExampleV2", "ExampleV2", "Resource")
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <h4>Permission-based: </h4>
    </div>
    <div class="col-sm-2 h4">
        @Html.ActionLink("ExampleV1", "ExampleV1", "Permission")
    </div>
    <div class="col-sm-2 h4">
        @Html.ActionLink("ExampleV2", "ExampleV2", "Permission")
    </div>
</div>
